<app-navbar></app-navbar>
<div class="main-body container w-full flex gap-2 h-full">
  <div class="partial-sidebar-left py-4 absolute">
    <div class="first-line-short"></div>
    <span class="tbc" id="tbc">Home</span>
    <div class="second-line-long"></div>
  </div>
  <div
    class="scrollable-content container overflow-auto overflow-x-hidden w-full"
  >
    <div class="hero-banner">
      <span class="text-8xl font-bold">Hi</span
      ><span class="text-8xl font-bold anim-text-fill-2">.</span>
      <span class="block text-7xl font-bold mx-1"
        >I am Stars
        <span class="text-7xl font-bold anim-text-fill-1 anim-text-fill"
          >Tracker</span
        ></span
      >
      <span class="block text-4xl font-bold mx-2 my-3"
        >A <span class="anim-text-fill anim-text-fill-3">Javascript</span> and
        <span class="anim-text-fill anim-text-fill-4">Java</span>
        developer</span
      >
    </div>
    <div class="scroll-me">
      <div
        class="relative animated-arrow"
        style="height: 20px; width: 20px; bottom: 5.25rem"
      >
        <svg width="30px" height="20px">
          <path
            stroke="#ffffff"
            stroke-width="2px"
            d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "
          ></path>
        </svg>
      </div>
    </div>
    <div
      class="
        container
        w-full
        specifications
        text-center
        gap-2
        toggles-visibility
        content-holder
        is-section
      "
    >
      <div class="text-center text-3xl font-bold mb-2 separator">About Me</div>

      <a href="https://javascript.com" target="_blank"
        ><i class="devicon-javascript-plain colored"></i
      ></a>
      <a href="https://www.typescriptlang.org/" target="_blank"
        ><i class="devicon-typescript-plain colored"></i
      ></a>
      <a href="https://www.java.com/en/" target="_blank"
        ><i class="devicon-java-plain-wordmark"></i
      ></a>
      <a href="https://kotlinlang.org" target="_blank">
        <i class="devicon-kotlin-plain colored"></i
      ></a>
      <a href="https://dotnet.microsoft.com/languages/csharp" target="_blank"
        ><i class="devicon-csharp-plain-wordmark colored"></i
      ></a>
      <a href="https://www.python.org/" target="_blank"
        ><i class="devicon-python-plain-wordmark colored"></i
      ></a>
      <a href="https://html.com/" target="_blank"
        ><i class="devicon-html5-plain-wordmark colored"></i
      ></a>
      <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank"
        ><i class="devicon-css3-plain-wordmark colored"></i
      ></a>
      <div class="spec-card container md:rounded bg-gray-700 p-6 mt-10">
        <div class="text-center gap-2">
          <span class="text-center text-lg font-bold">
            I am a Javascript, Java developer mainly and I am a big fan of
            programming and I really love it!
            <div>
              I learnt about javascript in May of 2020 and soon got interested
              in it and started to make some projects and apps.
            </div>
            <div>
              My favourite language is java and I love to listen to song and my
              favourite song is Sleepless Nights by Ayokay.
            </div></span
          >
        </div>
      </div>
    </div>
    <div
      class="
        container
        w-full
        projects
        content-holder
        toggles-visibility
        is-section
      "
    >
      <div class="text-center text-3xl font-bold separator">Projects</div>
      <div class="project-holder container w-full">
        <div class="project-card">
          <app-project-card
            name="Audio Cloud"
            description="A cloud based audio player"
            cover="https://camo.githubusercontent.com/bbb63d735c91ec249afaecb709c7343d7e5beb6686097ba7dad22bdb576ebff2/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3830363536313734373439373338363035352f3836343439363334313134393534383536342f756e6b6e6f776e2e706e67"
          ></app-project-card>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
