/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #171717;
  color: white;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px gray solid;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

